
<div id="footer" class="container">
	<hr>
		<div class="buttonrow">
<p>
	<button id="tonavbtns" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>To Create</button>
	<button id="totop" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;To Top&nbsp;&nbsp;</button>
</p>
<p>Copyright &copy; 2016</p>
</div>
</div>


 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<script src="js/cms_main.js"></script>

</body>
</html>
