
</div><!-- cmscontent container -->

<div id="footer" class="container">
	<hr>
		<div class="buttonrow">
<p>
	<button id="goback" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;&nbsp;Back</button>
	<button id="totop" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;To Top&nbsp;&nbsp;</button>
</p>
<p>Copyright &copy; 2016</p>
</div>
</div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
$("#totop").click(function () {
    "use strict";
    window.scrollTo(0, 0);
});
$("#goback").click(function () {
    "use strict";
    window.history.back();
});
</script>
</body>
</html>
