<% include ../partials/header %>

    <div id="topbar">
        <h1>New Questionnaire</h1>
    </div><!-- topbar -->

	<form id="questionnaireform" action="/questionnaire" method="POST">
        <div id="q_and_a" class="questform">
 							
<% include ../partials/questform %>

<script src="../js/cms_questionnaire2.js"></script>

<% include ../partials/footer %>
